[
{rabbitmq_management, [
    {load_definitions, "/etc/rabbitmq/rabbitmq.definitions.json"}
    ]},
{rabbitmq_shovel, [
    {shovels, [
        {'panopticon-logstash-shovel', [
            {sources, [
                {broker, "amqp://"}
                ]},
            {destinations, [
                    {broker, "amqp://pan:{{RABBITMQ_PAN_PASSWORD}}@rabbit-0.lsst.codes/logstash"},
                    {declarations, [
                        {'exchange.declare', [
			    {exchange, <<"logstash-exchange">>}, {type, <<"direct">>}, durable]}
                    ]}
                ]},
            {queue, <<"panopticon-logstash">>}
	    ]}
        ]}
    ]}
].
