[
{rabbitmq_management, [
    {load_definitions, "/etc/rabbitmq/rabbitmq.definitions.json"}
    ]},
{rabbitmq_shovel, [
    {shovels, [
        {'panopticon-logstash-shovel', [
            {sources, [
                {brokers, ["amqp://"]}
            ]},
            {destinations, [
                    {broker, "amqp://pan:{{RABBITMQ_PAN_PASSWORD}}@{{RABBITMQ_TARGET_HOST}}/{{RABBITMQ_TARGET_VHOST}}"}
            ]},
            {publish_fields, [
                {exchange, <<"logstash-exchange">>},
                {routing_key, <<"logstash">>}
            ]},
            {queue, <<"panopticon-logstash">>}
        ]}
    ]}
]}
].